################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MSPatternPlayground/.vs/MSPatternPlayground/v16
/MSPatternPlayground/IS4/bin/Debug/netcoreapp2.2
/MSPatternPlayground/IS4/obj
/MSPatternPlayground/.vs/MSPatternPlayground/config
/MSPatternPlayground/ProtectedAPI/bin/Debug/netcoreapp2.2
/MSPatternPlayground/ProtectedAPI/obj
/MSPatternPlayground/CallingClient/bin/Debug/netcoreapp3.1
/MSPatternPlayground/CallingClient/obj
